:root {

}



* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}
/*Main Styles*/
body {
	background: #eeeeee;
	color: #303030;
	min-width: 1200px;

}
a {
	text-decoration: none;
	color: #303030;

}

header a:hover {
	color: #e10011;
}

a.product-button:hover {
	color: #e10011;
}

.header-container {
	width: 100%;
	max-width: 1198px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 105px;
	min-width: 1000px;


}
.logo {
	float: left;
	font:900 48px/15px 'Roboto', sans-serif;
	



}
 .content {
	width: 100%;
	max-width: 1198px;
	min-width: 1000px;
	margin: 0 auto;
	clear: right;
	

}
.menu {
	float: right;
}
.menu li {
	display: inline-block;
	padding-left: 25px;
	font:400 18px/20px 'Roboto', sans-serif;
		
}

a.settings {
	font-size: 24px;
	vertical-align: bottom;
	font-weight: 600;
	

	
}


.text-wrapper {
	width: 51.5%;
	min-width:620px;
	text-align: right;
	float: left;
}

.product-name {
	font: 900 150px/150px 'Raleway', sans-serif;
	padding-bottom: 25px;
}

.product-desc {
	font:300 24px/40px 'Roboto', sans-serif;
	padding-bottom: 10px;
}
.product-button {
	font:900 24px/40px 'Roboto', sans-serif;

}

.img-wrapper-1{
	width: 45%;
	padding-left: 30px;
	float: right;
	cursor: pointer;

}
	
.chapter-buttons {
		font-size: 36px; 
	font-weight: 700;
	width: 100%;
	text-align: right;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 90px;

}

.chapter-buttons a {
	margin: 0 4px;
}


.chapter-buttons a.active {
	color: #e10011;
}
.featured-product {
	background: #fff;
	border-radius: 6px;
	height: 100%;
	width: 100%;

}
h1.featured-title{
	font:900 48px/80px 'Raleway', sans-serif;
	color: #303030;
	padding-top: 115px;
}
.featured-wrap {
	text-align: center;
}
.featured-desc {
	font: 400 18px/24px 'Raleway', sans-serif;
	color: #4c4c4c;
	margin-bottom: 75px;
}
.featured-img-sections {
	width: 88.33%;
	display: inline-block;


}

.row1 {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;

}
.row2 {
		display: flex;
	flex-direction: row;
	margin-bottom: 80px;
}

.row1 .img-wrapper {
	margin-left: 30px;
}

.row2 .img-wrapper {
	margin-left:30px; 
}

img {
	
}

.img-wrapper {
	width: 31%;
	height: 385px;
	overflow: hidden;
	position: relative;


	



}

.img-wrapper img {
	height: 100%;
	width: auto;
	max-width: none;
	min-width: 100%;
	


}

.img-wrapper.large {
	width: 65%;
}
.container {
	text-align: center;
}
.img-text {
	background: #e10011;
		width: 100%;
	height: 100%;
	position: absolute;
	left: 10;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	top: 100%;
	padding-left: -200px;

}

.img-wrapper:hover .img-text {
	top: 0;

}
.title {
	text-align: left;
	font: 900 48px/40px 'Roboto', sans-serif;
	    position: absolute;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
    left: 10%;
    bottom: 15%;	

}
.border-bottom {
	border-bottom: 5px solid #fff;
	padding-bottom: 10px;

}